name: benchmake-tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install package and test dependencies
        run: |
          pip install -e .
          pip install pytest openml pandas

      - name: Run pytest
        run: pytest -vv
